<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds">
    <property name="applicationName" value="insurance-info-server"/>
    <property name="logs.dir" value="opt/app/${applicationName}/logs"/>
    <!--统一日志格式 [本机IP][时间][logTraceID][上游IP][方法名]-具体应用日志 上游ip暂时为空-->
    <property name="Log_Pattern"
              value="[%date{ISO8601}],[%p],[${applicationName}],[%X{logTraceID}],[%X{merReqIp}],[%t]:%C:%L,%m %n"/>
    <conversionRule conversionWord="ip" converterClass="com.hfi.health.app.yyh.service.logback.IpClassicConverter"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${Log_Pattern}</pattern>
        </encoder>
    </appender>
    <appender name="DAILY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <File>${logs.dir}/${applicationName}.log</File>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${Log_Pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logs.dir}/${applicationName}.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logs.dir}/${applicationName}-error.log</File>
        <Append>true</Append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${Log_Pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>${logs.dir}/${applicationName}-error.log.%i.gz</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10240KB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- Sample -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="net.sf.ehcache" level="WARN"/>
    <logger name="org.apache" level="INFO"/>
    <logger name="org.quartz.core" level="INFO"/>
    <logger name="org.springframework.web.servlet.view.JstlView" level="DEBUG"/>
    <logger name="httpclient.wire" level="WARN"/>
    <logger name="springfox" level="WARN"/>
    <logger name="LoggingInterceptor" level="WARN"/>
    <logger name="org.springframework.context" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY_FILE"/>
        <appender-ref ref="ROLLING_FILE"/>
    </root>
</configuration>
