<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfi.insurance.mapper.YbCoursePlMapper">


    <insert id="insertybCoursePl">
    INSERT INTO yb_course_pl VALUES (#{orderId},#{courseId},#{courseFileName},#{courseFileDate},#{mbNumber},#{agreeDate},#{number},#{institutionName},#{remarks},#{courseStatus},#{courseCount},#{createTime},#{updateTime},#{urlList},#{areaCode})
    </insert>

    <delete id="delectCoursePlList">
     delete from  yb_course_pl  where   update_time &lt; #{minDate}
    </delete>

    <select id="selectybCoursePlList" resultType="com.hfi.insurance.model.YbCoursePl">
        SELECT * FROM yb_course_pl WHERE  course_status =0  and create_time >= #{minDate} and create_time &lt; #{maxDate}
    </select>
</mapper>
