<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfi.insurance.mapper.YbFlowInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hfi.insurance.model.YbFlowInfo">
        <id column="flow_id" property="flowId" />
        <result column="sign_flow_id" property="signFlowId" />
        <result column="subject" property="subject" />
        <result column="flow_status" property="flowStatus" />
        <result column="number" property="number" />
        <result column="unique_id" property="uniqueId" />
        <result column="account_type" property="accountType" />
        <result column="sign_status" property="signStatus" />
        <result column="initiator" property="initiator" />
        <result column="initiator_time" property="initiatorTime" />
        <result column="handle_time" property="handleTime" />
        <result column="signers" property="signers" />
        <result column="copy_viewers" property="copyViewers" />
        <result column="flow_type" property="flowType" />
        <result column="file_key" property="fileKey" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="flow_name" property="flowName" />
        <result column="batch_status" property="batchStatus" />
        <result column="batch_no" property="batchNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        flow_id, sign_flow_id, subject, flow_status, number, unique_id, account_type, sign_status, initiator, initiator_time, handle_time, signers, copy_viewers, flow_type, file_key, create_time, update_time, flow_name, batch_status,batch_no
    </sql>


    <sql id="YbFlowInfoWhere">
        <where>
            <if test="subject!=null  and subject!=''">
                subject like concat ('%',#{subject},'%')
            </if>
             <if test="batchno!=null  and batchno!=''">
                 batch_no like concat ('%',#{batchno},'%')
            </if>

            <if test="mindateTime!=null">
                and update_time >= #{mindateTime}
            </if>

            <if test="maxdateTime!=null">
                and update_time &lt; #{maxdateTime}
            </if>


        </where>
    </sql>

    <select id="selectYbFlowInfoList" parameterType="com.hfi.insurance.model.dto.ArecordQueReq" resultType="com.hfi.insurance.model.YbFlowInfo">
        select  t.* from
        (SELECT * FROM    yb_flow_info
        WHERE  flow_id =
        (select min(x.flow_id) from yb_flow_info x
        <include refid="YbFlowInfoWhere"/>)
        order by update_time desc) t
        limit #{pageNum},#{pageSize}





    </select>
    <select id="selectExportYbFlowInfoList" parameterType="com.hfi.insurance.model.dto.ArecordQueReq" resultType="com.hfi.insurance.model.YbFlowInfo">
        select * from yb_flow_info
        <include refid="YbFlowInfoWhere"/>

    </select>

    <select id="selecttYbFlowInfoCount" parameterType="com.hfi.insurance.model.dto.ArecordQueReq" resultType="int">
        select COUNT(*) from yb_flow_info
        <include refid="YbFlowInfoWhere"/>
    </select>

</mapper>
