<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfi.insurance.mapper.YbInstitutionInfoChangeMapper">


   <select id="selectChangeList"   parameterType="com.hfi.insurance.model.dto.YbInstitutionInfoChangeReq" resultType="com.hfi.insurance.model.YbInstitutionInfoChange">
   select t.* from
    (SELECT  * FROM   yb_institution_info_change
       <where>
       <if test="number!=null  and number!=''">
           number = #{number}
       </if>
       <if test="institutionName!=null  and institutionName!=''">
          and institution_name = #{institutionName}
       </if>
       <if test="minupdateTime!=null">
           and update_time >= #{minupdateTime}
       </if>

       <if test="maxupdateTime!=null">
           and update_time &lt; #{maxupdateTime}
       </if>
       </where>
       order by update_time desc) t
       limit #{pageNum},#{pageSize}
   </select>

</mapper>
