<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfi.insurance.mapper.YbInstitutionInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hfi.insurance.model.YbInstitutionInfo">
        <id column="number" property="number"/>
        <result column="institution_name" property="institutionName"/>
        <result column="org_institution_code" property="orgInstitutionCode"/>
        <result column="legal_name" property="legalName"/>
        <result column="legal_card_type" property="legalCardType"/>
        <result column="legal_id_card" property="legalIdCard"/>
        <result column="legal_phone" property="legalPhone"/>
        <result column="contact_name" property="contactName"/>
        <result column="contact_card_type" property="contactCardType"/>
        <result column="contact_id_card" property="contactIdCard"/>
        <result column="contact_phone" property="contactPhone"/>
        <result column="account_id" property="accountId"/>
        <result column="legal_account_id" property="legalAccountId"/>
        <result column="organize_id" property="organizeId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        number, institution_name, org_institution_code, legal_name, legal_card_type, legal_id_card, legal_phone, contact_name,
        contact_card_type, contact_id_card, contact_phone, account_id, legal_account_id, organize_id, create_time, update_time
    </sql>
    <select id="selectNumber" resultType="java.lang.String">
        select number from yb_institution_info
        union
        select AKB020 as number from yb_org_td
    </select>

    <select id="selectInstitutionInfoAndOrg" resultMap="BaseResultMap">
        select org.AKB020 as number ,org.AKB021 as institution_name,
        case when ins.legal_name is null
        then org.AAE045
        else ins.legal_name
        end as legal_name,
        ins.org_institution_code,ins.legal_card_type,ins.legal_id_card,
        ins.legal_phone,ins.contact_name,ins.contact_card_type,ins.contact_id_card,
        ins.contact_phone,ins.account_id,ins.organize_id,ins.create_time,ins.update_time
        from yb_org_td org
        left join yb_institution_info ins on org.AKB020 = ins.number
        <where>
            org.BKB012 = '1' and org.AAA027 like '3301%'
            <if test="institutionNumber != null and institutionNumber != ''">
                and org.AKB020 like concat(#{institutionNumber} , '%')
            </if>
            <if test="institutionName != null and institutionName != ''">
                and org.AKB021 like concat ('%',#{institutionName},'%')
            </if>
            <if test="number != null and number != ''">
                and org.AKB020 like concat ('%',#{number},'%')
            </if>
        </where>
        limit #{pageNum},#{pageSize}
    </select>

    <select id="selectCountInstitutionInfoAndOrg" resultType="java.lang.Integer">
        select count(org.AKB020) from yb_org_td org left join yb_institution_info ins on org.AKB020 = ins.number
        <where>
            org.BKB012 = '1' and org.AAA027 like '3301%'
            and org.AKB020 not like 'bx%'
            <if test="institutionNumber != null and institutionNumber != ''">
                and org.AKB020 like concat(#{institutionNumber} , '%')
            </if>
            <if test="institutionName != null and institutionName != ''">
                and org.AKB021 like concat ('%',#{institutionName},'%')
            </if>
            <if test="number != null and number != ''">
                and org.AKB020 like concat ('%',#{number},'%')
            </if>
        </where>
    </select>

    <select id="selectOrgForCreateFlow" resultType="com.hfi.insurance.model.dto.res.InstitutionInfoRes">
        select org.AKB020 as number ,org.AKB021 as institution_name,org.AKA101 as level,
        org.AAA027 as area ,org.BKA938 as profit,ins.legal_name,
        ins.org_institution_code,ins.legal_card_type,ins.legal_id_card,
        ins.legal_phone,ins.contact_name,ins.contact_card_type,ins.contact_id_card,
        ins.contact_phone,ins.account_id,ins.organize_id,ins.create_time,ins.update_time
        from yb_institution_info ins
        inner join yb_org_td org on org.AKB020 = ins.number
        <where>
            org.AAA027 like '3301%' and org.BKB012 = '1'
            and org.AKB020 not like 'bx%'
            <if test="institutionName != null and institutionName != ''">
                and org.AKB021 = #{institutionName}
            </if>
            <if test="number != null and number != ''">
                and org.AKB020 = #{number}
            </if>
            <if test='institutionTypes != null and institutionTypes.size() > 0'>
                and org.AKB022 in
                <foreach collection="institutionTypes" item="type" open="(" close=")" separator="," index="index">
                    #{type}
                </foreach>
            </if>
            <if test="areaCode != null and areaCode != ''">
                and org.AAA027 = #{areaCode}
            </if>
            <if test='institutionLevels != null and institutionLevels.size() > 0'>
                and org.AKA101 in
                <foreach collection="institutionLevels" item="level" open="(" close=")" separator="," index="index">
                    #{level}
                </foreach>
            </if>
            <if test='areas != null and areas.size() > 0'>
                and org.AAA027 in
                <foreach collection="areas" item="area" open="(" close=")" separator="," index="index">
                    #{area}
                </foreach>
            </if>
            <if test='profits != null and profits.size() > 0'>
                and org.BKA938 in
                <foreach collection="profits" item="profit" open="(" close=")" separator="," index="index">
                    #{profit}
                </foreach>
            </if>
        </where>
        limit #{pageNum},#{pageSize}
    </select>

    <select id="selectCountOrgForCreateFlow" resultType="java.lang.Integer">
        select count(org.AKB020) from yb_institution_info ins inner join yb_org_td org on org.AKB020 = ins.number
        <where>
            org.AAA027 like '3301%' and org.BKB012 = '1'
            <if test="institutionName != null and institutionName != ''">
                and org.AKB021 = #{institutionName}
            </if>



            <if test="number != null and number != ''">
                and org.AKB020 = #{number}

            </if>

            <if test='institutionTypes != null and institutionTypes.size() > 0'>
                and org.AKB022 inws
                <foreach collection="institutionTypes" item="type" open="(" close=")" separator="," index="index">
                    #{type}
                </foreach>
            </if>
            <if test="areaCode != null and areaCode != ''">
                and org.AAA027 = #{areaCode}
            </if>
            <if test='institutionLevels != null and institutionLevels.size() > 0'>
                and org.AKA101 in
                <foreach collection="institutionLevels" item="level" open="(" close=")" separator="," index="index">
                    #{level}
                </foreach>
            </if>
            <if test='areas != null and areas.size() > 0'>
                and org.AAA027 in
                <foreach collection="areas" item="area" open="(" close=")" separator="," index="index">
                    #{area}
                </foreach>
            </if>
            <if test='profits != null and profits.size() > 0'>
                and org.BKA938 in
                <foreach collection="profits" item="profit" open="(" close=")" separator="," index="index">
                    #{profit}
                </foreach>
            </if>
        </where>
    </select>

    <sql id="InstitutionInfobxListWhere">
        <where>
            <if test="hospitalid!=null and hospitalid!=''">
                number = #{hospitalid}
            </if>
            <if test="number!=null  and number!=''">
                and  number like concat("%",#{number},"%")
            </if>
            <if test="institutionName!=null and institutionName!=''">
                and institution_name  like concat("%",#{institutionName},"%")
            </if>
        </where>
    </sql>



    <select id="getInstitutionInfobxList"  parameterType="com.hfi.insurance.model.dto.InstitutionInfoQueryReq" resultType="com.hfi.insurance.model.YbInstitutionInfo">

     SELECT  * from  yb_institution_info
        <include refid="InstitutionInfobxListWhere"/>

     limit #{pageNum},#{pageSize}
    </select>
    <select id="selectInstitutionInfobxCount"  parameterType="com.hfi.insurance.model.dto.InstitutionInfoQueryReq" resultType="int">
     SELECT  count(*) from  yb_institution_info
        <include refid="InstitutionInfobxListWhere"/>
    </select>




</mapper>
