<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfi.insurance.mapper.YbInstitutionPicPathMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hfi.insurance.model.YbInstitutionPicPath">
        <id column="id" property="id" />
        <result column="number" property="number" />
        <result column="pic_type" property="picType" />
        <result column="pic_path" property="picPath" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, number, pic_type, pic_path, create_time, update_time
    </sql>

</mapper>
