<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{head}"></head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>医保定点机构基本信息</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../css/index.css" th:href="@{/css/index.css}">
</head>
<body>
<div class="content">
    <p class="table-title">医保定点机构基本信息列表</p>
    <div class="tableArea">
        <table class="table table-striped" id="table">
            <!--在此处填充表格数据-->
            <thead>
            <tr>
                <th>序号</th>
                <th>机构编码</th>
                <th>机构名称</th>
                <th>组织机构代码</th>
                <th>法人姓名</th>
                <th>联系人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
    </div>
    <div class="popup-container" id="popupCon">
        <div class="popup" id="popup">
            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="number" class="col-sm-3 control-label">机构编码</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="number" placeholder="请输入" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="institutionName" class="col-sm-3 control-label">机构名称</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="institutionName" placeholder="" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="orgInstitutionCode" class="col-sm-3 control-label">组织机构代码<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="orgInstitutionCode" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="legalName" class="col-sm-3 control-label">法人姓名<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="legalName" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="legalIdCard" class="col-sm-3 control-label">法人身份证<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="legalIdCard" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="legalPhone" class="col-sm-3 control-label">法人手机号<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="legalPhone" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="contactName" class="col-sm-3 control-label">联系人姓名<span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="contactName" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="contactIdCard" class="col-sm-3 control-label">联系人身份证<span
                            class="required">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="contactIdCard" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="contactPhone" class="col-sm-3 control-label">联系人手机号<span
                            class="required">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="contactPhone" placeholder="">
                    </div>
                </div>
                <div class="col-sm-offset-5 col-sm-6">
                    <button id="submit" class="btn btn-primary" onclick="undataInfo();">提交</button>
                    <button id="cancle" class="btn btn-default" onclick="cancel();">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var loadIndex = '';
    $(document).ready(function () {
        $('#popupCon').hide()
        getListData();
    });

    function getListData() {
        //获取参数
        $.ajax({
            url: baseurl + "/hfi/getInstitutionInfoByNumber?number=0102",
            type: "post",
            data: {},
            dataType: "json",
            async: true,
            success: function (data) {
                console.log(JSON.stringify(data));
                if (data.code == '200') {
                    if (!data.data || data.data.length == 0) {
                        layer.msg('暂无数据');
                    }
                    $("#tbody").html(createTableHtml(data.data));
                } else {
                    layer.msg(data.message == '' ? '系统错误' : data.message);
                }
            },
            beforeSend: function () {
                loadIndex = layer.load(1, {shade: [0.1, '#fff']});
            },
            complete: function () {
                layer.close(loadIndex);
            },
            error: function (e) {
                layer.msg('系统服务异常');
            }
        });
    }

    function isnull(str) {
        if (str == "" || str == null || str == 'null') {
            return true;
        }
        return false;
    }

    function toString(str) {
        return isnull(str) ? '' : str;
    }

    function isMakeup(rowData) {
        if (isnull(rowData.orgInstitutionCode) || isnull(rowData.legalName) || isnull(rowData.legalIdCard) ||
            isnull(rowData.legalPhone) || isnull(rowData.contactName) || isnull(rowData.contactIdCard) || isnull(rowData.contactPhone)) {
            return true;
        }
        return false;
    }

    function createTableHtml(list) {
        var html = "";
        var bcRowHtml = "";
        var gxRowHtml = "";
        for (var i = 0; i < list.length; i++) {
            var rowData = list[i];
            console.log(rowData)
            var rowHtml = '';
            rowHtml += '<td>' + (i + 1) + '</td>';
            rowHtml += '<td>' + rowData.number + '</td>';
            rowHtml += '<td>' + rowData.institutionName + '</td>';
            rowHtml += '<td>' + toString(rowData.orgInstitutionCode) + '</td>';
            rowHtml += '<td>' + toString(rowData.legalName) + '</td>';
            rowHtml += '<td>' + toString(rowData.contactName) + '</td>';
            if (isMakeup(rowData)) {
                rowHtml += '<td>' +
                    '<button class=\'btn btn-primary\'onclick= "showMyPopup(' + JSON.stringify(rowData).replace(/\"/g, "'") + ')">' +
                    '信息补充' +
                    "</button>" +
                    "</td>";
                bcRowHtml += '<tr value=\'rowData\'>' + rowHtml + "</tr>";
            } else {
                rowHtml += '<td>' +
                    '<button class=\'btn btn-slave\'onclick= "showMyPopup(' + JSON.stringify(rowData).replace(/\"/g, "'") + ')">' +
                    '信息更新' +
                    "</button>" +
                    "</td>"
                gxRowHtml += '<tr value=\'rowData\'>' + rowHtml + "</tr>";
            }
        }
        html += bcRowHtml + gxRowHtml;
        return html;
    }

    function undataInfo() {
        var number = $("#number").val();
        var institutionName = $("#institutionName").val();
        var orgInstitutionCode = $("#orgInstitutionCode").val();
        var legalName = $("#legalName").val();
        var legalIdCard = $("#legalIdCard").val();
        var legalPhone = $("#legalPhone").val();
        var contactName = $("#contactName").val();
        var contactIdCard = $("#contactIdCard").val();
        var contactPhone = $("#contactPhone").val();
        if (isnull(orgInstitutionCode)) {
            layer.msg('请输入组织机构代码');
            return false;
        }
        if (isnull(legalName)) {
            layer.msg('请输入法人姓名');
            return false;
        }
        if (isnull(legalIdCard)) {
            layer.msg('请输入法人身份证');
            return false;
        } else if (!isIdCardNo(legalIdCard)) {
            layer.msg('请输入正确的法人身份证');
            return false;
        }
        if (isnull(legalPhone)) {
            layer.msg('请输入法人手机号');
            return false;
        } else if (isMobile(legalPhone)) {
            layer.msg('请输入正确的法人手机号');
            return false;
        }
        if (isnull(contactName)) {
            layer.msg('请输入联系人姓名');
            return false;
        }
        if (isnull(contactIdCard)) {
            layer.msg('请输入联系人身份证');
            return false;
        } else if (isIdCardNo(contactIdCard)) {
            layer.msg('请输入正确的联系人身份证');
            return false;
        }
        if (isnull(contactPhone)) {
            layer.msg('请输入联系人手机号');
            return false;
        } else if (isMobile(contactPhone)) {
            layer.msg('请输入正确的联系人手机号');
            return false;
        }
        $.ajax({
            url: baseurl + "/hfi/updateInstitutionInfo",
            type: "post",
            data: {
                number: number,
                institutionName: institutionName,
                orgInstitutionCode: orgInstitutionCode,
                legalName: legalName,
                legalIdCard: legalIdCard,
                legalPhone: legalPhone,
                contactName: contactName,
                contactIdCard: contactIdCard,
                contactPhone: contactPhone
            },
            dataType: "json",
            async: true,
            success: function (data) {
                console.log(JSON.stringify(data));
                if (data.code == '200') {
                    $('#popupCon').hide();
                    getListData();
                } else {
                    layer.msg(data.message == '' ? '信息保存异常' : data.message);
                }

            },
            beforeSend: function () {
                loadIndex = layer.load(1, {shade: [0.1, '#fff']});
            },
            complete: function () {
                layer.close(loadIndex);
            },
            error: function (e) {
                layer.msg('系统服务异常');
            }
        });
    }

    function showMyPopup(rowData) {
        console.log(rowData)
        $("input").attr("value", "");
        $("#number").val(rowData.number);
        $("#institutionName").val(rowData.institutionName);
        $("#orgInstitutionCode").val(rowData.orgInstitutionCode);
        $("#legalName").val(rowData.legalName);
        $("#legalIdCard").val(rowData.legalIdCard);
        $("#legalPhone").val(rowData.legalPhone);
        $("#contactName").val(rowData.contactName);
        $("#contactIdCard").val(rowData.contactIdCard);
        $("#contactPhone").val(rowData.contactPhone);
        $('#popupCon').show()
    }

    function cancel() {
        $("input").attr("value", "");
        $('#popupCon').hide()
    }

</script>
</html>